---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact UXHM | Start Your Project',
};
---

<Layout metadata={metadata}>
  <HeroText tagline="Contact" title="Let’s Build Your Vision." />

  <ContactUs
    id="form"
    title="Tell us about your project"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        type: 'text',
        name: 'service',
        label: 'What do you need?',
        placeholder: 'e.g. New Website, Mobile App, Branding, Maintenance...',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
  >
    <Fragment slot="subtitle">
      Fill out the form below. We’ll reply within one business day to arrange a free, no-obligation chat.
      <br /><br />
      Prefer to email us directly? Reach us at <a href="mailto:hello@uxhm.co.uk" class="underline text-primary">hello@uxhm.co.uk</a>
    </Fragment>
  </ContactUs>

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Email',
        description: 'hello@uxhm.co.uk',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>